*{
  margin: 0;
  padding: 0;
}

.ant-table-thead > tr > th {
  background-color: #001529 !important;
  color: white !important;
}

.even-row {
  background-color: #f2f2f2;
  cursor: pointer;
}

.odd-row {
  background-color: #a4c7e9;
  cursor: pointer;
}

.disable-row {
  pointer-events: none;
  opacity: 0.5;
  position: relative;
}

.disable-row::after {
  content: "";
  position: absolute; 
  top: 50%; /* Coloca la línea en el centro de la fila */
  left: 0;
  width: 100%;
  height: 1px; /* Grosor de la línea */
  background-color: #57c25c; /* Color de la línea */
  z-index: 1; /* Asegura que la línea esté sobre el fondo pero debajo del texto */
}

.ant-table-tbody > tr >td {
  color: #303030 !important;
}

.ant-table-tbody > tr:hover > td{
  background-color: #3f81be !important;
}

.ant-table-row-selected {
  background-color: #e6f7ff !important; /* Color de fondo personalizado */
}

.hover_DeleteFilled:hover {
  color: #ff0000 !important;
  transition: color ease-in .1s;
  transition: transform ease-in .15s; 
  transform: scale(1.2);
}